.inputWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 39px;
}

.inputWrap > span {
    align-self: start;
}

.inputStyle {
    box-sizing: border-box;
    width: auto;
    height: inherit;
    border: 1px solid #E4DFDC;
    border-radius: 10px;
    outline: none;
    padding-left: 18px;
    width: 100%;
}

.inputStyleError {
    border: 1px solid #ff3131;
}

input.inputStyle:focus {
    border: 1.5px solid #7b7a7a;
}

label {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    align-self: center;
}

.inputContainer {
    height: 100%;
}

.inputWrapNotification {
    height: content-box;
}

.inputStyleNotification {
    height: 39px;
}

.editImg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
}