.contentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 16px;
}
@media screen and (max-width: 360px) {
    .contentContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 100%;
        padding-bottom: 16px;

    }
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
}
.contentWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.wrapper:nth-last-child(1){
    border-bottom: none;
}
.imgContainer{
    position: relative;
    width: 100%;
    max-width: 255px;
    min-width: 211px;;
    height: 211px;
    padding-top: 0;
    overflow: hidden;
    margin-right: calc((40%/845)*100);
}
@media screen and (max-width: 360px) {
    .imgContainer{
        position: relative;
        width: 100%;
        max-width: 320px;
        min-width: 211px;;
        height: 265px;
        padding-top: 0;
        overflow: hidden;
        margin-bottom: 16px;
        margin-right: 0px;
    }
}
.arrowLeft{
    width: 41px;
    height: 30px;
    margin-bottom: 24px;
    cursor: pointer;
}
.imgNews{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentFullWrapper{
    width: calc((864%/1140)*100);
}
.fullContentWrap{
    width: 100%;
    height: 100%;
}
.wrapperFullItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.imgNewsFull{
    width:100%;
    height: auto;

}
.headerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:8px ;
}
.mainContent{
    display: flex;
    flex-direction: column;
}
.imgShare{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.headerNews{
    margin-bottom:8px;
    font-family: 'Ubuntu';
    font-weight: 500;
    line-height: 28px;
}
.textNews{
    margin-bottom:8px;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #858080;
    line-break: normal;
    word-wrap:break-word;
}
.linkNews{
    margin-bottom: 15px;
}

.like{
    width: 21px;
    height: 18px;
    cursor: pointer;
}
.iconStyle{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.contentContainerFull{
    display: flex;
    flex-direction: column;
}
.noImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    background-color: #b3b3b3;
}
.shareWrap{
    position: relative;
}