.textarea {
    box-sizing: border-box;
    border: 1px solid #E4DFDC;
    border-radius: 10px;
    outline: none;
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 7px;
    height: 100%;
    max-height: 100%;
    min-height: 38px;
    width: 100%;
    max-width: 346px;
    margin-right: 25px;
    resize: none;
    overflow: hidden;
    max-height: 550px;
    overflow-y: auto;
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 60%;

}
.textarea::-webkit-scrollbar {
    width: 0.1px;
}
.inputStyleError {
    border: 1px solid #ff3131;
}
input.inputStyle:focus {
    border: 1.5px solid #7b7a7a;
}
.textareaReplay{
    height: 27px;
    max-width: 274px;
}
.textareaPost{
    max-height: 295px;
}