.nickName{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}
.textComment{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #858080;
    margin-bottom: 7px;
}
.dateComment{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #858080;
    margin-right:30px;
}
.replyComment{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #7E5BC2;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration-line:underline;
}
.footerComment{
    margin-bottom: 24px;
}
.commentInput{
    margin-right: 25px;
    width: 346px;
    min-height: 39px;
    max-height: 100%;
}
.commentButton {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 6px 34.5px 6px 34.5px;
    background: #7E5BC2;
    border-radius: 10px;
    border: 1px solid #7E5BC2;
    width: max-content;
    outline: none;
    cursor: pointer;
    align-self: center;
}
.commentButton:hover{
    color: #FFFFFF;
    border: 1px solid #6939c6;
}
.formComment{
    display: flex;
    flex-direction: row;
    height: min-content;
}
.labelStyle{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-right: 14px;
    align-self: center;
}
.replayInput{
    main-height: 27px;
    max-height: 500px;
    align-self: center;
}
.buttonContainer{
    height: 27px;
    width: 100%;
    max-width: 128px;
}
.replayContainer{
    margin-left: 56px;
}
.commenContainer{
    width: 100%;
    max-width: 845px;
    margin-bottom: 24px;
}
