.formButton {
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 6px 40px 6px 40px;
    background: #7E5BC2;
    border-radius: 10px;
    border: 1px solid #7E5BC2;
    width: max-content;
    height: auto;
    outline: none;
    cursor: pointer;
    align-self: center;
    margin-top: 14px;
}
.formButton:hover{
    color: #FFFFFF;
    border: 1px solid #6939c6;
}
.headerFilter{
    margin-bottom: 18.5px;
}
.filterWrap{
    width: 100%;
    display: block;
    max-width: 168px;
    margin-right: calc((127px/1440)*100);
}
.checkboxContainer{
    min-width: 168px;
    height: 100%;
    max-height: 262px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.checkboxContainer::-webkit-scrollbar{
    width: 0px;
}
.checkboxContainer:hover.checkboxContainer::-webkit-scrollbar {
    width: 4px;
}
.checkboxContainer::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.checkboxContainer::-webkit-scrollbar-thumb {
    height: 12%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    outline: 1px solid rgba(0, 0, 0, 0.1);
}
.checkmark{
    word-wrap: break-word;
}