.newsContentWrap{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.wrapperPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 34px;
}
