@import '../Normalize.css';

.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    font-family: Ubuntu;
}
.logo{
    width: 129px;
    max-width: 100%;
    height: 29px;
    max-height: 100%;
    align-self:flex-start;
}
.contentWrap{
    padding-left: calc((150%/1440)*100);
    padding-right: calc((150%/1440)*100);
}
.bigButton{
    min-height: 38px;
}
.formFieldWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: 231px;
    min-height: 39px;
}
.formFieldWrapNotification{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 231px;
}