.header{
    color: white;
    background-color: black;
    padding-left: calc((150%/1440)*100);
    padding-right: calc((150%/1440)*100);
    padding-top: 29px;
    padding-bottom: 52px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url('../../assets/img/img-header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    text-align: end;
    height: 158px;
    max-height: 100%;
}
.wrap{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    max-height: 100%;
}
.heading{
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 72px;
    text-align: end;
    line-height: 83px;
    align-self: flex-end;
    height: max-content;
}
.menuWrap{
    display: flex;
    flex-direction:row;
    width: 100%;
    max-width: 134px;
    height: max-content;
    justify-content: space-between;
}
.icon{
    height: 29px;
    max-height: 100%;
}
.subMenu{
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: calc((150%/1440)*100);
    padding-right: calc((150%/1440)*100);
}