.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    background-color: #151515;
    padding-top: 34px;
    padding-bottom: 65px;
}
.wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.logo{
    margin-bottom: 40px;
    align-self: center;
}
.link{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.link:nth-child(1){
    margin-right: 13px;
}
.link:nth-last-child(1){
    margin-left: 13px;
}
.wrapMenu{
    width: max-content;
}